/BAK.emacs.d/
/proj/
/roms/
/quicklisp/
/quicklisp.lisp
/index.html
/examples.desktop
/dwmTutorial.txt
/org/
/test/
/tmux-client-3706.log
/wget-log
/wget-log.1
/wget-log.2
/xinitrc.example
/Leyna.txt
/Downloads/
/Desktop/
/.emacs.d/
/.ratpoison_history
/.freeciv-client-rc-2.3
/.freeciv-server_history
/.freeciv/
/.DS_Store
